.player {
    border: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 50% auto 50% auto;
    position: absolute;
    transform-origin: center;
}

.mp1 {
    background-image: url('http://clipart-library.com/images/AibragM8T.jpg');
}

#it {
    border-color: red;
    color: black;
    position:absolute;
}

#notIt {
    border-color: black;
    position:absolute;
}

.obstacles {
    width: 30px;
    height: 30px;
    border: 3px dashed red;
    background-color: white;
}

.moreSpeed {
    width: 30px;
    height: 30px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
}

.invincible {
    width: 30px;
    height: 30px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}

h1 {
    margin: 0 auto;
    color: red;
}

.btn {
    margin: 0 auto;
    border-color: black;
    background-color: grey;
}

.maps {
    position:absolute;
    bottom: 0;
    right:0;
}
