.player {
    border: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

#it {
    background-color: black;
    color: white;
    position:absolute;
}

#notIt {
    background-color: white;
    color: black;
    position:absolute;
}

.obstacles {
    width: 30px;
    height: 30px;
    border: 3px dashed red;
    background-color: white;
}

.powerUp {
    width: 30px;
    height: 30px;
    border: 3px yellow;
    border-radius: 50%;
    background-color: purple;
}

h1 {
    margin: 0 auto;
    color: red;
}

.btn {
    margin: 0 auto;
    border-color: black;
    background-color: grey;
}

.maps {
    position:absolute;
    bottom: 0;
    right:0;
}
