.player {
    border: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 50% auto 50% auto;
    position: absolute;

}

.jumbotron {
    height: 100%;
    width: 100%;
    margin: 0;
}

#gamespace {
    border: 1px solid red;
    height: 92.5%;
    width: 100%;
    margin: 0;
}

#scoreboard {
    height: 7.5%;
    width: 100%;
    margin: auto auto auto auto;
}

body, html{
    height: 100%;
}

.mp1 {
    background-image: url('http://clipart-library.com/images/AibragM8T.jpg');
}

.menubg {
    background-image: url("https://live.staticflickr.com/7034/6387951985_69805702d4.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.spacer {
    height: 50px;
}

#it {
    border-color: red;
    color: black;
    position:absolute;
}

#notIt {
    border-color: black;
    position:absolute;
}

.moreSpeed {
    width: 30px;
    height: 30px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
}

.invincible {
    width: 30px;
    height: 30px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}

h1 {
    margin: 0 auto;
    color: red;
    text-align: center;
}

.btn {
    width: 20%;
    margin: 5px 40% auto 40%;
    border-color: black;
    background-color: grey;
}

.row {
    margin: auto auto 50px auto;
    text-align: center;
}

.rowfix {
    margin: auto;
}

.p-help {
    margin: auto 15%;
}

.alert {
    text-align: center;
}

.pu-help {
    margin: 5% 25%;
}
